

      <div class="row">

        <div class="col-6">
          <app-donut title="Sales1"
                     [labels]="labels1"
                     [data]="data1">
          </app-donut>
        </div>

        <div class="col-6">
          <app-donut title="Sales2"
                     [labels]="labels1"
                     [data]="data1">
          </app-donut>
        </div>

      </div>


      <div class="row">

        <div class="col-6">
          <app-donut title="Sales3"></app-donut>
        </div>

        <div class="col-6">
          <app-donut title="Sales4"></app-donut>
        </div>

      </div>
